{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
{% endblock stylesheets %}
<!--  -->
{% block main-content %}
{% if user.is_authenticated %}
<h3>{{event.name}}</h3>
<p>{{event.description}}</p>

<p>Event Organized By {{event.event_manager.username.title}}</p>
<p>
    {{ event.event_date|date:"d-M-Y" }} {{ event.event_date|time:"h:i A" }} at
    <a href="{% url 'learn:venue_read' event.venue.id %}"> {{event.venue.name.title}} </a>
</p>
<hr />
<ul>
    {% for guest in event.participants.all %}
    <li>
        <a href="{% url 'learn:participant_read' guest.id %}"> {{guest.firstname}} </a>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>You need to <a href="{% url 'members:login' %}"> Login </a> to Access this page.</p>
{% endif %}
<hr />
<!--  -->
{% endblock main-content %}
<!--  -->
{% block footer %} {% endblock footer %}
