{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
<link rel="stylesheet" href="{% static 'CSS/formcontrol.css' %}" />
{% endblock stylesheets %}
<!--  -->
{% block main-content %}
<!--  -->
<h2>Update Event</h2>
<br />
<div class="userform">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_div}}
        <input class="btn btn-primary" type="submit" value="Update" />
    </form>
</div>
<!--  -->
{% endblock main-content %}
<!--  -->
{% block footer %}
<!--  -->
{% endblock footer %}
