.userform > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.userform > form .form-control {
    display: grid;
    place-items: center;
    margin: 4px auto;
}

.fw-300 {
    width: 500px;
}

.fh-150 {
    height: 200px;
}


textarea.form-control {
    resize: none;
}
