{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
<link rel="stylesheet" href="{% static 'CSS/formcontrol.css' %}" />
{% endblock stylesheets %}
<!--  -->
{% block main-content %}
<!--  -->
<h2>Add Venue</h2>
<br />
<br />
{% if is_submitted %}
<p>Form Submitted Successfully...</p>
{% else %}
<div class="userform">
    <form action="{% url 'learn:venue_add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_div}}
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>
{% endif %}
<!--  -->
{% endblock main-content %}
<!--  -->
{% block footer %}
<!--  -->
{% endblock footer %}
