{% extends "base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
<link rel="stylesheet" href="{% static 'CSS/formcontrol.css' %}" />
{% endblock stylesheets %}
<!--  -->
{% block main-content %}
<!--  -->
{% if user.is_authenticated %}
<h2>Update Venue</h2>
<br />
<div class="userform">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!--  -->
        {{form.as_div}}
        <input class="btn btn-primary" type="submit" value="Update" />
    </form>
</div>
{% else %}
<p>You need to <a href="{% url 'members:login' %}"> Login </a> to Access this page.</p>
{% endif %}
<!--  -->
{% endblock main-content %}
<!--  -->
{% block footer %}
<!--  -->
{% endblock footer %}
